<div id="contenttext">
  <h1>Student's Profile</h1>
</div>
        
        <div class="maincontent-inner">
            <div class="col-2">
                <div class="center">
                    <h2> Record </h2>
                </div>
                <hr>
                <b>Classes that were taken</b>
                <ul>
                    <li>Fall 2011</li>
                    <ul>
                        <li>CS 61C</li>
                        <li>CS 170</li>
                    </ul>
                    <li>Spring 2011</li>
                    <ul>
                        <li>CS 61A</li>
                        <li>CS 61B</li>
                    </ul>
                </ul>
                <br>
            </div>
            <div class="col-2">
                <div class="center">
                    <h2> Planner </h2>
                </div>
                <hr>
                <b>Classes that you are planning to take</b>
                <ul>
                    <li>Semester</li>
                </ul>
                <br>
            </div>
        </div>
