        <%= image_tag "logo_small.png", :alt=>"Logo", :id => "home-page-logo" %>
        <h1> Welcome to Bear Essentials </h1>

        <p> One of the secrets to academic success at UC Berkeley is a well thought out
            academic plan. Yet, we are still using outdated EECS websites, Excel spreadsheets,
            or paper documents to plan our courses over our four years.
        </p>
        <p> Fear not. Bear Essentials exists to solve this very problem. Use it to easily and
            efficiently create and store your academic plan for all your future semesters.
            You can also quickly check whether your plan passes the Degree Requirements as
            specified by the EECS Department.
        </p>
        <p> So go ahead, login and begin planning for academic success! </p>



    <div class="fb-login-box">
             <%= link_to 'Login with Facebook', '/auth/facebook', :class => 'fb-login' %>
    </div>
